@import url('./reset.css');
@import url('./base.css');

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #4E75FF;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  margin: 20px auto;
}

.loader.is-visible {
  display: block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.form input {
  font-family: "Montserrat", sans-serif;
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  color: #2E2F42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4E75FF;
}

.form input::placeholder {
  color: #808080;
}

.form button {
  font-family: "Montserrat", sans-serif;
  padding: 8px 16px;
  height: 40px;
  background-color: #4E75FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form button:hover,
.form button:focus {
  background-color: #6C8CFF;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 0 156px;
  margin-bottom: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image {
  display: block;
  width: 100%;
  height: 152px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 4px 0;
  background-color: #fff;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2E2F42;
}

.info b {
  font-weight: 600;
  margin-bottom: 2px;
}



.load-more {
  display: block;
  margin: 32px auto;
  padding: 8px 16px;
  background-color: #4E75FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover,
.load-more:focus {
  background-color: #6C8CFF;
}

.is-hidden {
  display: none;
}